body {
  
  
  background-color: #80635994;
  background-image: linear-gradient(#D4B1A9, #E5AD77, #CD6D47);
  outline: white solid 1.5px;
  padding: 30px;
  color: #eeeeee;
  font-family: Times , Helvetica, serif;
  margin: 5% 5%;
}

html {
  min-height: 5%;
  background: url(https://images.unsplash.com/photo-1519972064555-542444e71b54?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80) rgba(185, 120, 50, 0.3);
  background-repeat: cover;
  background-blend-mode: multiply;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 30%;
} 

.linkedin {
  display: block;
  padding: 10px;
  width: 5%;
}


p {
 padding: 10px;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Lucida Console", fantasy, Bold;
  
}

h4 {
  text-align: center;
  font-size: 20px;
  }

h5 {
  text-align: center;
  font-size: 15px;
  }

h6 {
  text-align: center;
  font-size: 13px;
  }

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 2px solid #ddddddaa;
  border-bottom: 2px solid #ddddddaa;
  background-color: rgba(2,2,2, 0.02)
}
